In [1]:
import mechanize
import http.cookiejar
from bs4 import BeautifulSoup
import re

import pandas as pd
import time

In [2]:
# Browser
br = mechanize.Browser()

# Cookie Jar
cj = http.cookiejar.LWPCookieJar()
br.set_cookiejar(cj)

# Browser options
br.set_handle_equiv(True)
br.set_handle_gzip(True)
br.set_handle_redirect(True)
br.set_handle_referer(True)
br.set_handle_robots(False)
br.set_handle_refresh(mechanize._http.HTTPRefreshProcessor(), max_time=1)

br.addheaders = [('User-agent', 'Chrome')]

# Load Article URLs
Edit this to reload article urls, remove duplicates

In [17]:
# Load old articles to compare against
old_articles = pd.read_excel('article_urls.xlsx', engine='openpyxl')
old_articles = old_articles[0]

In [5]:
start_time = time.time()

# List to save urls
articles = set()

for page in range(1,200): #46790
    
    # URL to load
    url = 'https://news.mn/archive/page/' + str(page) + '/'

    # Loaded html
    html = br.open(url).read()

    # Read html with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    # Find and print title to check we have loaded correctly
    print('Page ' + str(page) + ': ' + str(time.time() - start_time))
    
    # Find article urls
    for element in soup.find_all('article'):
        articles.add(element.a['href'])

# Save urls as pandas series
articles = pd.Series(list(articles))

print(time.time() - start_time)

Page 30: 0.7179417610168457
Page 31: 1.1474525928497314
Page 32: 1.573232889175415
Page 33: 2.026923179626465
Page 34: 2.5510408878326416
Page 35: 2.964362621307373
Page 36: 3.4058287143707275
Page 37: 3.9119763374328613
Page 38: 4.432803392410278
Page 39: 4.948277711868286
Page 40: 5.49561333656311
Page 41: 6.014770030975342
Page 42: 6.440875768661499
Page 43: 6.890276670455933
Page 44: 7.398608446121216
Page 45: 8.08446455001831
Page 46: 8.633546113967896
Page 47: 9.005419731140137
Page 48: 9.42855954170227
Page 49: 9.913002729415894
Page 50: 10.526365518569946
Page 51: 10.978309869766235
Page 52: 11.407224416732788
Page 53: 14.401704549789429
Page 54: 17.970412254333496
Page 55: 21.878312826156616
Page 56: 25.351075172424316
Page 57: 28.54083776473999
Page 58: 31.89612579345703
Page 59: 35.55154275894165
Page 60: 38.728839635849
Page 61: 42.18715000152588
Page 62: 45.540457010269165
Page 63: 48.88914394378662
Page 64: 51.31832480430603
Page 65: 53.98064875602722
Page 66: 56.239336252212524
Page 67: 58.90844988822937
Page 68: 61.282318115234375
Page 69: 63.99254560470581
Page 70: 66.31058478355408
Page 71: 68.66792058944702
Page 72: 71.85236382484436
Page 73: 76.05435371398926
Page 74: 79.21158170700073
Page 75: 82.58458089828491
Page 76: 86.67600607872009
Page 77: 90.53575992584229
Page 78: 94.25743079185486
Page 79: 97.93968915939331
Page 80: 101.32320475578308
Page 81: 104.91092562675476
Page 82: 108.37531924247742
Page 83: 111.79436302185059
Page 84: 115.40948963165283
Page 85: 118.89480566978455
Page 86: 122.17260789871216
Page 87: 125.60658860206604
Page 88: 129.15070009231567
Page 89: 132.92730903625488
Page 90: 136.74209904670715
Page 91: 139.71248984336853
Page 92: 142.7937994003296
Page 93: 145.29891967773438
Page 94: 148.23910355567932
Page 95: 150.69898962974548
Page 96: 153.47731256484985
Page 97: 156.0528120994568
Page 98: 158.38161039352417
Page 99: 160.87006521224976
Page 100: 166.53398823738098
Page 101: 169.46910190582275
Page 102: 172.6733057498932
Page 103: 175.5708703994751
Page 104: 180.02666020393372
Page 105: 183.98006224632263
Page 106: 187.70714259147644
Page 107: 191.32595872879028
Page 108: 196.06262969970703
Page 109: 199.55490374565125
Page 110: 203.04395174980164
Page 111: 206.54519748687744
Page 112: 210.90460467338562
Page 113: 214.68443131446838
Page 114: 218.23316884040833
Page 115: 222.10925340652466
Page 116: 225.7936339378357
Page 117: 229.350750207901
Page 118: 233.15951824188232
Page 119: 237.19580936431885
Page 120: 240.4697630405426
Page 121: 245.1138939857483
Page 122: 248.21618175506592
Page 123: 251.34277892112732
Page 124: 254.72401475906372
Page 125: 257.00099873542786
Page 126: 259.7914400100708
Page 127: 261.99375653266907
Page 128: 265.5251340866089
Page 129: 268.7023882865906
Page 130: 272.35285997390747
Page 131: 275.67979621887207
Page 132: 278.9448952674866
Page 133: 281.03961086273193
Page 134: 284.3183522224426
Page 135: 288.00440287590027
Page 136: 291.6482403278351
Page 137: 295.0269582271576
Page 138: 298.1765615940094
Page 139: 301.8337960243225
Page 140: 305.13825368881226
Page 141: 308.3597962856293
Page 142: 311.5742573738098
Page 143: 314.64091181755066
Page 144: 317.9599144458771
Page 145: 321.2734146118164
Page 146: 324.7553126811981
Page 147: 328.327917098999
Page 148: 331.5904703140259
Page 149: 334.7466812133789
Page 150: 337.8586506843567
Page 151: 340.9090402126312
Page 152: 345.01001811027527
Page 153: 347.6581268310547
Page 154: 351.24047017097473
Page 155: 354.3397958278656
Page 156: 357.8222415447235
Page 157: 361.41166949272156
Page 158: 364.6738636493683
Page 159: 367.92073488235474
Page 160: 371.09720158576965
Page 161: 374.4923176765442
Page 162: 377.5845756530762
Page 163: 380.81388688087463
Page 164: 383.9748787879944
Page 165: 387.8303999900818
Page 166: 390.89719247817993
Page 167: 394.32397198677063
Page 168: 397.9751486778259
Page 169: 401.5363597869873
Page 170: 406.9594850540161
Page 171: 410.5898492336273
Page 172: 413.90474557876587
Page 173: 417.2444944381714
Page 174: 420.5103771686554
Page 175: 423.7612340450287
Page 176: 427.12573981285095
Page 177: 430.55139899253845
Page 178: 433.7374675273895
Page 179: 437.03367137908936
Page 180: 440.41863775253296
Page 181: 443.66669487953186
Page 182: 446.9878237247467
Page 183: 450.60143756866455
Page 184: 454.2910952568054
Page 185: 457.5099833011627
Page 186: 461.0773124694824
Page 187: 464.2682275772095
Page 188: 467.56408166885376
Page 189: 470.7461106777191
Page 190: 474.15315318107605
Page 191: 477.4096076488495
Page 192: 480.7969403266907
Page 193: 484.2391746044159
Page 194: 487.74185132980347
Page 195: 491.0698356628418
Page 196: 494.31399369239807
Page 197: 497.734516620636
Page 198: 501.1589426994324
Page 199: 504.70708775520325

TypeError: 'set' type is unordered

In [20]:
# Find articles we haven't scraped yet
unread_articles = articles[~articles.isin(old_articles)]

# Add articles to list of old articles and save
read_articles = old_articles.append(unread_articles)
read_articles.to_excel('article_urls.xlsx', index=False, header=False)

# Extract Text from Articles

In [67]:
# Load current frequency list
frequency_list = pd.read_excel('frequency_list_sample.xlsx', engine='openpyxl')
frequency_list = frequency_list.set_index('Word')

In [72]:
start_time = time.time()

# Mongolian alphabet
tolgoi = '[^АаБбВвГгДдЕеЁёЖжЗзИиЙйКкЛлМмНнОоӨөПпРрСсТтУуҮүФфХхЦцЧчШшЩщЪъЫыЬьЭэЮюЯя ]'

# Pandas series to save words in
word_list = pd.Series(dtype='object')
total_text = ""

for url, count in zip(unread_articles[:10], range(len(unread_articles[:10]))):

    # Loaded html
    html = br.open(url).read()

    # Read html with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    # Find and print title to check we have loaded correctly
    print('Article ' + str(count) + ': ' + soup.find('title').string)
    
    # Extract text from the article
    text = soup.find('div', class_='has-content-area').get_text()
    total_text += " " + text
    
    article_word_list = pd.Series(re.sub(tolgoi, ' ', text).lower().split())
    word_list = word_list.append(article_word_list, ignore_index=True)

new_word_frequency = pd.DataFrame({'Count': word_list.value_counts()})
new_word_frequency.index.rename('Word', inplace=True)

print(time.time() - start_time)

Article 0: “Оюутны хөгжлийн зээлийн санхүүжилтийг ирэх сард олгоно” | News.MN
Article 1: Н.Түвшинбаярыг 20 хоног хорино | News.MN
Article 2: Япон улс Байденыг Олимпийн наадамд урихаар төлөвлөжээ | News.MN
Article 3: "Хавдартай хүн халдвар авбал нас барах эрсдэл маш өндөр" | News.MN
Article 4: Тариаланчдыг өнөөдрөөс эхлэн хоёр өдөр вакцинжуулна | News.MN
Article 5: Ё.Отгонбаярыг Элчин сайдаас нь эгүүлэн татна & татахгүй | News.MN
Article 6: Хятад улс энхийг сахиулагчдад 300 мянган тун вакцин хандивлана | News.MN
Article 7: “Сибирийн хүч-2” төслийн Монголд өгөх өгөөж | News.MN
Article 8: E-Mongolia систем 1 сая хэрэглэгчтэй боллоо | News.MN
Article 9: Эдийн засаг сэргэж буй энэ үед ААН-үүдэд зөвлөж ажиллахыг санууллаа | News.MN
8.466898202896118

In [69]:
# Add new word counts to frequency list
new_frequency_list = frequency_list.add(new_word_frequency, fill_value=0).sort_values('Count', ascending=False)

In [71]:
# Save updated frequency list
new_frequency_list.to_excel('frequency_list.xlsx')

# Search for example sentences

In [75]:
re.findall('байна', total_text)

['байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна',
 'байна']

# Sandbox

In [62]:
a = pd.DataFrame({'Count': word_list.value_counts()})
a

               Count
нь              9658
байна           7354
байгаа          4137
энэ             3731
улсын           3189
...              ...
мэндлэв            1
дургүйцлээ         1
хонуулаад          1
нийлүүлэгчтэй      1
мужийг             1

[41016 rows x 1 columns]

In [61]:
b = frequency_list.set_index('Word')
b

             Count
Word
нь            1857
байна         1632
байгаа         822
энэ            784
улсын          776
...            ...
хувьаймгууд      1
бүсийг           1
нэ               1
контентод        1
мария            1

[17630 rows x 1 columns]

In [3]:
a = pd.DataFrame({'test': ['a', 'B']})

In [7]:
a.test.str.lower()

0    a
1    b
Name: test, dtype: object